{"openapi":"3.0.3","info":{"title":"TaskFlow API","version":"1.0.0","description":"TaskFlow backend API documentation"},"servers":[{"url":"https://congenial-space-meme-7vrvv54vpx4x2xgrg-3000.app.github.dev","description":"API server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"},"details":{"type":"object"}}},"LoginRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string","format":"password"}}},"RegisterRequest":{"type":"object","required":["name","email","password"],"properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"},"password":{"type":"string","format":"password"}}},"Task":{"type":"object","properties":{"id":{"type":"integer"},"title":{"type":"string"},"description":{"type":"string","nullable":true},"status":{"type":"string","enum":["todo","in_progress","review","done"]},"priority":{"type":"string","enum":["low","medium","high","urgent"]},"due_date":{"type":"string","format":"date-time","nullable":true},"project_id":{"type":"integer"}}},"Project":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"organization_id":{"type":"integer"}}}}},"paths":{"/auth/register":{"post":{"tags":["Authentication"],"summary":"Register a new user","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}}},"responses":{"201":{"description":"User registered successfully"},"400":{"description":"Validation error"},"409":{"description":"Email already registered"}}}},"/auth/login":{"post":{"tags":["Authentication"],"summary":"Login","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"Login successful"},"401":{"description":"Invalid credentials"}}}},"/auth/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh access token","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["refreshToken"],"properties":{"refreshToken":{"type":"string"}}}}}},"responses":{"200":{"description":"Tokens refreshed successfully"},"401":{"description":"Invalid or expired refresh token"}}}},"/auth/logout":{"post":{"tags":["Authentication"],"summary":"Logout","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["refreshToken"],"properties":{"refreshToken":{"type":"string"}}}}}},"responses":{"200":{"description":"Logged out successfully"}}}},"/tasks":{"post":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Create task","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","project_id"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"status":{"type":"string","enum":["todo","in_progress","review","done"]},"priority":{"type":"string","enum":["low","medium","high","urgent"]},"project_id":{"type":"integer"},"due_date":{"type":"string","format":"date-time"}}}}}},"responses":{"201":{"description":"Task created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"422":{"description":"Validation error"}}},"get":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"List tasks","parameters":[{"name":"page","in":"query","schema":{"type":"integer","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","default":20,"maximum":100}},{"name":"status","in":"query","schema":{"type":"string"}},{"name":"priority","in":"query","schema":{"type":"string"}},{"name":"assigneeId","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Paginated task list"}}}},"/tasks/{id}":{"get":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Get task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Task details"},"403":{"description":"Forbidden"},"404":{"description":"Task not found"}}},"patch":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Update task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"status":{"type":"string","enum":["todo","in_progress","review","done"]},"priority":{"type":"string","enum":["low","medium","high","urgent"]}}}}}},"responses":{"200":{"description":"Task updated"},"403":{"description":"Forbidden"},"404":{"description":"Task not found"}}},"delete":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Delete task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Task deleted"},"403":{"description":"Forbidden"},"404":{"description":"Task not found"}}}},"/tasks/{id}/assign":{"post":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Assign task to user","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"type":"integer"}}}}}},"responses":{"201":{"description":"Task assigned"},"400":{"description":"userId is required"},"403":{"description":"Forbidden"}}}},"/tasks/{id}/assign/{userId}":{"delete":{"tags":["Tasks"],"security":[{"bearerAuth":[]}],"summary":"Unassign task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Task unassigned"}}}},"/projects":{"post":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"Create project","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}},"responses":{"201":{"description":"Project created"},"422":{"description":"Validation error"}}},"get":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"List projects","responses":{"200":{"description":"Paginated project list"}}}},"/projects/{id}":{"get":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"Get project","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Project details"},"403":{"description":"Forbidden"},"404":{"description":"Project not found"}}},"patch":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"Update project","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Project updated"},"403":{"description":"Forbidden"},"404":{"description":"Project not found"}}},"delete":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"Delete project","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Project deleted"},"403":{"description":"Forbidden"},"404":{"description":"Project not found"}}}},"/projects/{id}/dashboard":{"get":{"tags":["Projects"],"security":[{"bearerAuth":[]}],"summary":"Get project dashboard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Project dashboard"}}}},"/members":{"get":{"tags":["Organization Members"],"security":[{"bearerAuth":[]}],"summary":"List organization members","responses":{"200":{"description":"Member list"}}},"post":{"tags":["Organization Members"],"security":[{"bearerAuth":[]}],"summary":"Add organization member","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["user_id"],"properties":{"user_id":{"type":"integer"}}}}}},"responses":{"201":{"description":"Member added"}}}},"/members/{userId}":{"delete":{"tags":["Organization Members"],"security":[{"bearerAuth":[]}],"summary":"Remove organization member","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Member removed"}}}},"/members/{userId}/role":{"patch":{"tags":["Organization Members"],"security":[{"bearerAuth":[]}],"summary":"Update member role","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["role"],"properties":{"role":{"type":"string","enum":["org_admin","member"]}}}}}},"responses":{"200":{"description":"Member role updated"}}}},"/jobs/{id}":{"get":{"tags":["Jobs"],"security":[{"bearerAuth":[]}],"summary":"Get email job status","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Job status"},"404":{"description":"Job not found"}}}}}}